@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-nunito: var(--font-nunito);
  --font-bricolage-grotesque: var(--font-bricolage-grotesque);

  /* --- TAMBAHKAN DUA BARIS INI --- */
  --color-primary: #003ce9;
  --color-secondary: #9cff00;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nunito);
}

/* Fix input text color */
input,
textarea,
select {
  color: #0f172a; /* slate-900 */
}

input::placeholder,
textarea::placeholder {
  color: #94a3b8; /* slate-400 */
}
